.footer * {
    color: white;
}

.footer {
    padding: 1.5rem;
    background: $color-background-darkest;

    @include responsive(tablet) {
        display: grid;
        justify-items: center;
    }

    &--home {
        @include responsive(tablet) {
            grid-template-columns: 1fr 1fr;
        }
        
        @include responsive(tablet-large) {
            grid-template-columns: $home-1st-column-percentage 1fr;
        }

        @include responsive(desktop-large) {
            grid-template-columns: 1fr $home-1st-column-px calc(1440px - $home-1st-column-px) 1fr;
        }

        .footer__list {
            @include responsive(desktop-large) {
                grid-column: 2;
            }
        }
    }

    &--restaurant-page {
        @include responsive(tablet) {
            grid-template-columns: 1fr 700px 1fr;
            justify-items: start;
        }
        
        @include responsive(desktop) {
            grid-template-columns: $restaurant-page-1st-column-percentage 1fr;
            justify-items: center;
        }

        .footer__list {
            @include responsive(tablet) {
                grid-column: 2;
            }

            @include responsive(desktop) {
                grid-column: 1;
            }
        }
    }

    &__list {
        @include responsive(tablet) {
            grid-column: 1;
        }

        &__item {
            display: grid;
            grid-template-columns: 1rem 1fr;
            align-items: center;
            gap: .7rem;
            margin-bottom: .7rem;
    
            &--heading__link {
                display: block;
                margin-bottom: 1rem;
                font-family: Shrikhand, Arial, Helvetica, sans-serif;
                font-size: 1.3rem;
            }
    
            &--no-icon {
                grid-template-columns: 1fr;
            }
    
            &__icon {
                font-size: .8rem;
            }
        }
    }
}