.button {
    display: block;
    position: relative;
    z-index: 1;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: $color-linear-gradient;
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    &::after {
        @include button-pseudo-element;
        border-radius: 2rem;
        box-shadow: 3px 6px 10px darken($color-background-darker, 10%);
        background: $color-linear-gradient-light;
        transition: opacity 300ms;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.like-button {
    position: relative;
    font-size: 1.5rem;

    &__icon { 
        padding: 1px;
        transition: all 300ms;

        &--empty {
            opacity: 1;
            position: absolute;
            left: 0;
        }

        &--filled {
            background: $color-linear-gradient-light;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            transform: scale(0);
        }
    }

    &:hover {
        cursor: pointer;

        .like-button__icon--filled {
            transform: scaleY(1);
        }

        .like-button__icon--empty {
            opacity: 0;
        }
    }
}