.cards {
    margin-top: 1.5rem;
    flex-direction: column;
    row-gap: 2rem;

    @include responsive(tablet) {
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

.card,
.card__infos {
    flex-basis: 100%;
    justify-content: space-between;
    align-items: stretch;
    min-width: 0; // important pour l'ellipse du texte
}

.card {
    background: white;
    border-radius: 1rem;
    overflow: hidden;

    &__infos {
        padding: .6rem;
    }
}

