* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;

    @include mobile {
        font-size: 16px;
    }
}

body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.flex {
    display: flex;
}

.light-text {
    color: $color-text-light;
}

.lighter-text {
    color: $color-text-lighter;
}

.lightest-text {
    color: $color-text-lightest;
}

.round {
    border-radius: 50%;
}

.box-shadow {
    box-shadow: 3px 6px 10px $color-background-darker;
}