.main--restaurant-page {
    background: white;

    @include responsive(desktop) {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        max-width: 100%;

        @include responsive(desktop) {
            width: $restaurant-page-1st-column-percentage;
        }
    }

    &__menu {
        margin: -4rem auto 0 auto;
        padding: 2rem .8rem;
        background-color: $color-background-default;
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
        z-index: 2;
        position:relative;

        @include responsive(desktop) {
            width: calc(100% - $restaurant-page-1st-column-percentage);
            padding: 2rem;
            margin: 0;
            border-radius: initial;
        }
    }
}

.menu-section__heading,
.menu-section__course {
    max-width: 700px;
    margin: 0 auto;
}

.menu-section {
    &__heading {
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: 2rem;
            font-family: Shrikhand, Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
    }

    &__like-button {
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__course__type {
        padding-top: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__course__border-bottom {
        display: block;
        height: 3px;
        width: 3rem;
        margin-top: 5px;
        background: $color-tertiary;
    }
}

.cards--restaurant-page {
    row-gap: 1rem;
}

.card--restaurant-page {
    opacity: 0;
    animation: menu-reveal 1000ms;
    animation-fill-mode: forwards;

    @keyframes menu-reveal {
        from {
            transform: translateY(50%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: calc($menu-animation-delay * $i);
        }
    }

    &__infos__texts {
        min-width: 0; // important pour l'ellipse du texte

            > * {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &__title {
                margin-bottom: .3rem;
                font-size: 1.2rem;
            }
    }
    
    &__infos__price {
        margin-left: 5px;
        align-self: flex-end;
        font-weight: 700;
    }

    &__check {
        margin-right: -3.8rem;
        padding: 0 1.2rem;
        background: $color-tertiary;
        align-items: center;
        transition: margin-right 300ms;

        &__icon {
            padding: .2rem;
            overflow: hidden;
            background: white;
            color: $color-tertiary;
            transition: transform 300ms 100ms;
        }
    }

    &:hover {
        .card--restaurant-page__check {
            margin-right: 0;
            
            cursor: pointer;
        }

        .card--restaurant-page__check__icon {
            transform: rotate(360deg);
        }
    }
}

