.main--restaurant-page {
    background: white;

    @include desktop {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
        object-fit: cover;

        @include desktop {
            width: 40%;
            object-fit:cover;
        }
    }
    
    &__menu-section {
        margin: -4rem auto 0 auto;
        padding: 2rem .8rem;
        background-color: $color-background-default;
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
        z-index: 2;
        position:relative;

        @include desktop {
            width: 60%;
            padding: 2rem;
            margin: 0;
            border-radius: initial;
        }
    }
}

.menu-section__heading,
.menu-section__course {
    max-width: 700px;
    margin: 0 auto;
}

.menu-section {
    &__heading {
        justify-content: space-between;
        align-items: center;

        &__title {
            font-size: 2rem;
            font-family: Shrikhand, Arial, Helvetica, sans-serif;
            font-weight: normal;
        }
    }

    &__like-button {
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__course__type {
        padding-top: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__course__border-bottom {
        display: block;
        height: 3px;
        width: 50px;
        margin-top: 5px;
        background: $color-tertiary;
    }
}

.card--restaurant-page {
    transform: translateY(0);
    opacity: 0;
    animation: menu-reveal 1000ms;
    animation-fill-mode: forwards;

    @keyframes menu-reveal {
        0% {
            transform: translateY(50%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @for $i from 1 through 4 {
        $menu-animation-delay: 200ms;
        
        &:nth-child(#{$i}) {
            animation-delay: calc($menu-animation-delay * $i);
        }
    }

    &:hover {
        .card--restaurant-page__check {
            width: initial; // ANIMATION WIDTH => A CHANGER POUR PERFORMANCES ?
            padding: 0 1.2rem;
            cursor: pointer;
        }

        .card--restaurant-page__check__icon {
            transform: rotate(360deg);
        }
    }

    @include desktop {
        width: 100%;
    }

    &__infos__texts__title {
        margin-bottom: .3rem;
        font-size: 1.2rem;
    }
    
    &__infos__price {
        margin-left: 5px;
        align-self: flex-end;
        font-weight: 700;
    }

    &__check {
        width: 0;
        background: $color-tertiary;
        align-items: center;
        transition: all 300ms;

        &__icon {
            padding: .2rem;
            border-radius: 50%;
            overflow: hidden;
            background: white;
            color: $color-tertiary;
            transition: transform 300ms;
        }
    }
}

