/****************************** Media queries *******************************/

@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin mobile-large {
    @media screen and (min-width: map-get($breakpoints, mobile-large)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin tablet-large {
    @media screen and (min-width: map-get($breakpoints, tablet-large)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-large {
    @media screen and (min-width: map-get($breakpoints, desktop-large)) {
        @content;
    }
}


/********************************** Animations ********************************/

@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}