/****************************** Media queries *******************************/

@mixin responsive($screen-type) {
    @media screen and (min-width: map-get($breakpoints, $screen-type)) {
        @content;
    }
}


/********************************** Animations ********************************/

@mixin position-zeros {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin button-pseudo-element {
    content: "";
    position: absolute;
    @include position-zeros;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
}